footer {
    background-color: $color3;
    display: flex;
    flex-direction: column;
    align-items: center;

    .maxfoot {
        background-color: $color3;
        .logo {
            background-color: $color1;
            border-radius: 25px;
        }
    }

    .minfoot {
        background-color: $color2;
    }
}