@media screen and (min-width: 901px) {
    body {
        overflow-x: hidden;

        header {
            height: 10vh;

            .fixtures {
                #menuico {
                    display: none;
                }

                .custom-logo-link {
                    img {
                        height: 15vh;
                        width: auto;
                    }
                }

                ul {

                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    height: auto;
                    top: 0;
                    right: 0;
                    left: unset;
                    width: auto;
                    height: 100%;
                    gap: 1rem;
                    background-color: unset;
                    box-shadow: unset;

                    li:nth-of-type(1) {
                        display: none;
                    }

                    a {
                        color: $color1;
                    }
                }
            }
        }
        
        button.back {
            width: 12vw;
            height: 4vw;
        }
    }
}

@media screen and (min-width: 901px) and (max-height: 700px) {
    body {
        main {
            section.category {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 3vw;
                position: relative;

                button {
                    position: absolute;
                    top: 0;
                }
            }
        }
    }
}