$color1 : #F9EADC;
$color2 : #704214;
$color3 : #AB9487;
$white : #FEFEFE;
$black : #131413;

@mixin basic-shadow {
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@mixin reverse-shadow {
    -webkit-box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
}

@mixin inset-shadow {
    -webkit-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@mixin basinset-shadow {
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#wpadminbar {
    display: none; //avoid showing tech bar while editing theme
}

* {
    font-family: 'Raleway', sans-serif;
}

html {
    margin: 0 !important;
}

body {
    margin: 0 !important;
    background-color: $color1;

    main {
        margin: 12vh 7vw 4vh;
        //height: 84vh;

        h1,
        h2,
        h3 {
            color: $color2;
        }

        h3 {
            font-style: italic;
        }

        a {
            text-decoration: none;
            color: $color3;
            transition: all 0.5s;

            &:hover {
                color: $color2;
            }
        }

    }

    .logo {
        height: 80px;
        width: auto;
    }
}

h1,
h2,
h3 {
    font-family: 'Libre Baskerville', serif;
    color: $color1;
    transition: all 0.5s;

    a {
        font-family: 'Libre Baskerville', serif;
        text-decoration: none;
        color: $color1;
        transition: all 0.5s;

        &:hover {
            color: $color3;
        }
    }
}