header {
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3;

    background-color: $color2;
    @include basic-shadow;

    .fixtures {
        display: flex;
        align-items: center;
        height: 100%;
        margin: auto 3vw;
        position: relative;

        #menuico {
            position: relative;
            z-index: 4;
        }

        @media screen and (min-width: 901px) {
            #menuico {
                display: none;
            }
        }

        h1 {
            position: absolute;
            width: 100%;
            text-align: center;
        }

        a:has(img.logo) {
            position: unset !important;

            @media screen and (min-width : 901px) {
                display: flex;
                align-items: center;
            }
        }

        .logo,
        .ico {
            margin: auto calc(50% - 40px) auto calc(50% - 90px);
            right: 0;
            top: 2.5px;
            position: absolute;
        }

        ul {
            position: fixed;
            top: 8vh;
            left: 0;
            height: 42vh;
            width: 100%;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1vh;
            font-size: x-large;
            background-color: #AB9487;
            @include basinset-shadow;

            @media screen and (min-width : 901px) {
                display: flex;
                flex-direction: row;
                position: absolute;
                height: auto;
                top: 0;
                right: 0;
                left: unset;
                width: auto;
                height: 100%;
                gap: 1rem;
                background-color: unset;
                box-shadow: unset;

                li:nth-of-type(1) {
                    display: none;
                }
            }

            a {
                text-decoration: none;
                color: $color2;
                transition: all 0.5s;

                &:hover {
                    color: $color1;
                }

                @media screen and (min-width: 901px) {
                    color: $color1;
                }
            }
        }
    }

    @media screen and (min-width : 901px) {
        height: 9vh;
    }
}