header {
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3;

    background-color: $color2;
    @include basic-shadow;

    .fixtures {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: auto 3vw;
    }
}