header {
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3;

    background-color: $color2;
    @include basic-shadow;

    .fixtures {
        display: flex;
        align-items: center;
        height: 100%;
        margin: auto 3vw;
        position: relative;

        h1 {
            position: absolute;
            width: 100%;
            text-align: center;
        }
        .custom-logo-link {
            margin: auto calc(100%/2 - 75px);
            position: absolute;
            left: 0;
        }
        .logo, .ico {
            margin: auto calc(100%/2 - 40px);
            position: absolute;
            left: 0;
        }

        ul {
            position: fixed;
            top: 8vh;
            left: 0;
            height: 42vh;
            width: 100%;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1vh;
            font-size: x-large;
            background-color: #AB9487;
            @include basinset-shadow;

            a {
                text-decoration: none;
                color: $color2;
                transition: all 0.5s;
    
                &:hover {
                    color: $color1;
                }
            }

            form {
                display: flex;
            }
        }
    }
}