section {
    article {
        padding: 2vh 0;

        a {
            display: flex;
            align-items: center;
            flex-direction: column;

            .metainfo {
                font-size: small;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;

                .line1 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }
            }

            h2 {
                text-align: center;
                margin: 1vh 0;
            }

            img {
                width: 100%;
                height: auto;
                transition:all 0.5s;
            }

            p {
                text-align: justify;
                color: $black;
            }
        }

        a:hover {
            img {
                width: 110%;
            }
        }
    }
}