section.index {
    article {
        padding: 2vh 0;
        .metainfo {
            font-size: small;
            .line1 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
        }
        h2 {
            text-align: center;
            margin: 1vh 0;
        }
        & > p {
            text-align: justify;
        }
    }
}